<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entregas</title>

    <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBa7JwRey1BWibcn3ImOA8h2iY1o0pYGyQ&callback=initMap&libraries=maps,marker&v=beta"></script>
    <script src="entregas_script.js"></script>

    <link rel="stylesheet" href="entregas_style.css">
</head>
<body>
    <gmp-map center="-23.469873428344727,-47.4297981262207" zoom="12" map-id="map">
        <gmp-advanced-marker position="-23.469873428344727,-47.4297981262207" title="FACENS"></gmp-advanced-marker>
        <gmp-advanced-marker position="-23.4776554107666,-47.49298095703125" title="ECOPONTO - VILA HELENA"></gmp-advanced-marker>
        <gmp-advanced-marker position="-23.392568588256836,-47.3829231262207" title="ECOPONTO - CAJURU"></gmp-advanced-marker>
        <gmp-advanced-marker position="-23.502513885498047,-47.514854431152344" title="ECOPONTO - JÚLIO DE MESQUITA FILHO"></gmp-advanced-marker>
        <gmp-advanced-marker position="-23.503042221069336,-47.439857482910156" title="ECOPONTO - VILA HORTÊNCIA"></gmp-advanced-marker>
    </gmp-map>
</body>
</html>