/* POPPINS FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

gmpx-place-picker{
  width: 395px;
}

input{
  width: 300px
}

gmp-map {
  height: 100%;
}

* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box; /* Adiciona box-sizing para melhor controle de layout */
}

/* Cabeçalho */
.navbar {
  position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(198, 211, 211);
    font-size: 1.2rem;
    padding: 10px;
    z-index: 3; 
}

.nav-link {
  font-weight: 550;
  margin-right: 150px; /* Ajustado para melhor espaçamento */
  color: rgba(27,74,120)
}

.nav-link:hover {
  color: #000000;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 60px; /* Define a posição logo abaixo do cabeçalho */
  left: 0;
  width: 500px;
  height: calc(100vh - 60px); /* Altura total abaixo do cabeçalho */
  padding: 20px;
  background-color: #f8f9fa;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  overflow-y: auto; /* Permite rolagem interna, caso o conteúdo ultrapasse a altura */
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.containermaior{
  overflow-y: auto;
  width: 430px;
  height: 750px;
}

.card-body{
  background-color: rgba(111, 156, 138, 0.8);
}

@media (max-width: 1317px ) {

  .sidebar {
    top: 84px; /* Define a posição logo abaixo do cabeçalho */
  }

}

@media (max-width: 991px ) {

  .sidebar {
    top: 60px; /* Define a posição logo abaixo do cabeçalho */
  }

}

/* Consultas de mídia para responsividade */
@media (max-width: 768px) {

  .containermaior{
    overflow-y: auto;
    width: 650px;
    height: 200px;
  }

  .sidebar {
      width: 100%; /* A sidebar ocupa a largura total em telas pequenas */
      position: relative; /* Altera para posicionamento relativo */
      height: auto; /* Ajusta a altura */
  }

  gmpx-place-picker{
    width: 616px;
  }

}

@media (max-width: 705px) {

  .containermaior{
    overflow-y: auto;
    width: 553px;
    height: 200px;
  }

  gmpx-place-picker{
    width: 519px;
  }

}

@media (max-width: 578px) {

  .containermaior{
    overflow-y: auto;
    width: 408px;
    height: 200px;
  }

  gmpx-place-picker{
    width: 374px;
  }

}

@media (max-width: 480px) {

  .navbar {
      font-size: 0.9rem; /* Ajusta o tamanho da fonte do cabeçalho */
  }
}

@media (max-width: 380px) {

html,
body{
  font-size: 0.9rem;
}

}