/* POPPINS FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body{
    background-color: #f4f4f4;
    font-family: 'Poppins', sans-serif;
}

/* Cabeçalho */
.navbar {
    background-color: rgb(198, 211, 211);
    font-size: 1rem;
    padding: 10px;
}

/* Cor dos links de navegação */
.nav-link {
    font-weight: 600;
    margin-right: 150px;
    color: rgba(27, 74, 120);
}

/* Cor dos links ao passar o mouse */
.nav-link:hover {
    color: #000000;
}

.card {
    margin: 10px;
}

/* Responsividade */
@media (max-width: 768px) {
    .card {
        flex-direction: column;
        align-items: flex-start;
    }

    .card-img {
        margin-bottom: 10px;
    }
}
