/* POPPINS FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.form-box {
    width: 70%; 
    max-width: 1300px; 
    min-width: 400px;
    background-color: #8BA89A;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    margin-top: -45px;
    padding-bottom: 20px;
}

.logo h1 {
    font-size: 25px;
    color: white;
    background-color: #325b7d;
    padding: 15px 25px;
    border-radius: 6px;
}

.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    color: white;
}

input, select, textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
}

input[type="text"], input[type="number"], select, textarea {
    background-color: #f4f4f4;
}

.circular-btn {
    width: 100px; /* Define a largura do círculo */
    height: 100px; /* Define a altura do círculo */
    padding: 0;
    border-radius: 50%; /* Torna o botão circular */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    background-color: #325b7d;
    border: none;
    color: white;
    cursor: pointer;
}

.d-flex justify-content-end{
    margin-bottom: -40px;
}

/* Efeito de hover (quando o mouse passa sobre o botão) */
.circular-btn:hover {
    background-color: #244960; /* Muda a cor de fundo no hover */
    transform: scale(1.05); /* Aumenta o botão levemente */
}

/* Efeito de active (quando o botão é clicado) */
.circular-btn:active {
    background-color: #1b3546; /* Muda a cor de fundo quando clicado */
    transform: scale(0.95); /* Diminui o botão levemente */
}


@media only screen and (max-width: 991px){
    .header {
        display: flex;
        margin-top: -45px;
        justify-content: center;
        padding-bottom: 20px;
    }
}