/* POPPINS FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    overflow-x: hidden; /* Impede rolagem horizontal que afete a sidebar */
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(198, 211, 211);
    font-size: 1.2rem;
    padding: 10px;
    z-index: 3; 
}

.wrapper {
    margin-top:25px; /* Espaço entre o cabeçalho e o restante do conteúdo */
}


.nav-link {
    font-weight: 550;
    margin-right: 150px; /* Ajustado para melhor espaçamento */
    color: rgba(27,74,120)
}

.nav-link:hover {
    color: #000000;
}

/* Texto do placeholder */
.search-input::placeholder {
    color: #ffffff; /* Cor do texto do placeholder */
}


/* Botão de pesquisa */
.btn {
    margin-left: 10px; /* Espaço entre a barra de pesquisa e o botão */
    background-color: rgba(27, 74, 120);
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    border: 2px solid rgba(27, 74, 120);
    border-radius: 20px;
    transition: transform 0.2s, background-color 0.3s ease;
    cursor: pointer;
}

.btn .fas {
    color: white;
    font-size: 20px;
}

.btn:hover {
    background-color: #0056b3;
    color: white;
    transform: scale(1.05);
    background: linear-gradient(135deg, rgba(27, 74, 120, 1), rgba(0, 128, 128, 0.8));
}

/* Botões */
.btn-conectar {
    background-color: rgba(111, 156, 138); /* Cor de fundo mais forte para o botão */
    border: 2px solid rgba(111, 156, 138); /* Cor de borda do botão */
    color: white;
    font-size: 0.9rem; /* Tamanho de fonte um pouco maior para os botões */
    padding: 0.5rem 1rem; /* Mais espaçamento dentro do botão */
    border-radius: 25px; /* Bordas arredondadas */
    transition: background-color 0.3s, transform 0.2s;
}

.btn-conectar:hover {
    background-color: rgb(40, 190, 130); /* Cor mais escura para hover */
    transform: translateY(-2px);
}

/* Conteúdo principal */
.main-content {
    margin-left: 270px; /* Espaço para a sidebar fixa */
    padding: 20px;
    padding-top: 150px; /* Ajuste conforme necessário para dar espaço ao cabeçalho e ao botão de pesquisa */
    position: relative;
    margin-bottom: 20px; /* Adiciona espaçamento inferior */
}

/* Consultas de mídia para responsividade */

@media (max-width: 480px) {
    .nav-link {
        margin-right: 20px; /* Ajusta o espaçamento dos links de navegação */
        font-size: 0.9rem; /* Reduz o tamanho da fonte para dispositivos pequenos */
    }

    .navbar {
        font-size: 0.9rem; /* Ajusta o tamanho da fonte do cabeçalho */
    }
}