/* Estilos do corpo */
body {
    background: linear-gradient(to bottom, #003b6f, #52b07d);
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    margin: 0;
    overflow: hidden; /* Remove a rolagem desnecessária */
    display: flex; /* Adiciona Flexbox para centralizar o conteúdo */
    align-items: flex-start; /* Alinha ao topo */
    justify-content: center; /* Centraliza horizontalmente */
    padding-top: 38px; /* Aumenta o espaço no topo da tela */
}

/* Estilos do container do formulário */
.form-container {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    padding: 15px; /* Diminuição do padding para reduzir altura */
    width: 100%;           
    max-width: 700px;     
    margin: 10px; /* Adiciona espaço em volta do formulário */
    display: flex; /* Habilita Flexbox */
    flex-direction: column; /* Direção da coluna para empilhar elementos */
    align-items: center; /* Centraliza os itens horizontalmente */
}

/* Estilos do título do formulário */
.form-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #014b8e;
    text-align: center;
    margin: 5px 0 15px; /* Margem inferior ajustada */
}

/* Estilos dos rótulos */
.form-label {
    font-weight: bold;
    color: #014b8e;
    font-size: 1rem;
    margin-bottom: 5px;
}

/* Estilos dos inputs */
.form-control {
    border-radius: 8px;
    border: 1px solid #d1d9dd;
    padding: 8px; /* Diminuição do padding */
    font-size: 0.9rem;
    width: 100%; /* Altera a largura para ocupar 100% do espaço disponível */
    max-width: 500px; /* Aumentado para permitir mais largura */
    margin-bottom: 8px; /* Ajustado para maior espaçamento entre campos */
    transition: box-shadow 0.3s ease, border-color 0.3s ease;
}

/* Efeito de luz quando o input está em foco */
.form-control:focus {
    outline: none; /* Remove o contorno padrão */
    border-color: #014b8e; /* Cor da borda ao focar */
    box-shadow: 0 0 8px rgba(1, 75, 142, 0.5); /* Efeito de luz ao redor */
}

/* Estilos do botão de envio */
.submit-btn {
    font-family: 'Poppins', sans-serif; /* Fonte Poppins */
    border: none; /* Remove bordas padrão */
    outline: none; /* Remove contorno padrão */
    height: 45px; /* Altura do botão */
    background: #ececec; /* Cor de fundo padrão */
    border-radius: 5px; /* Arredondamento dos cantos */
    transition: background 0.4s; /* Transição suave para a cor de fundo */
    width: 100%; /* Largura automática */
    max-width: 600px; /* Largura máxima para controle */
    cursor: pointer; /* Cursor em forma de mão ao passar sobre o botão */
    font-weight: bold; /* Negrito para o texto */
    margin-top: 20px; /* Espaço acima do botão */
    font-size: 0.85rem;
}

/* Efeito de hover no botão */
.submit-btn:hover {
    background: rgba(37, 95, 156, 0.937); /* Cor de fundo ao passar o mouse */
    color: #fff; /* Cor do texto ao passar o mouse */
}

/* Ajustes de responsividade para telas menores */
@media (max-width: 768px) {
    .form-container {
        padding: 30px; /* Mantido para um tamanho adequado em telas menores */
        max-width: 90%;
    }
    .form-title {
        font-size: 1.3rem;
    }
    .submit-btn {
        height: 40px; /* Ajustar altura para telas menores */
        max-width: 150px; /* Ajustar largura máxima para telas menores */
    }
}

/* Centraliza o botão */
.btn-container {
    display: flex; /* Habilita Flexbox */
    justify-content: center; /* Centraliza horizontalmente */
    width: 100%; /* Ocupa toda a largura */
}
