/* POPPINS FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    overflow-x: hidden;
}

/* Cabeçalho */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(198, 211, 211);
    font-size: 1rem;
    padding: 10px;
    z-index: 3;
}

.nav-link {
    font-weight: 600;
    margin-right: 150px;
}

.nav-link:hover {
    color: #000000;
}

/* Botão de pesquisa fixo */
.search-container {
    position: fixed;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    margin: 20px 0;
    display: flex;
    align-items: center;
    width: 100%;
}

.search-input {
    width: 300px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 20px;
    font-size: 1rem;
    color: #555;
    background-color: #ffffff;
    transition: border 0.2s;
}

.search-input:focus {
    outline: none;
    border: 1px solid rgba(27, 74, 120);
    background-color: #fcfcfc;
}

.btn {
    margin-left: 10px;
    background-color: rgba(27, 74, 120);
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    border: 2px solid rgba(27, 74, 120);
    border-radius: 20px;
    transition: background-color 0.3s, transform 0.2s;
}

.btn .fas {
    color: white;
    font-size: 20px;
}

.btn:hover {
    background-color: #0056b3;
    color: rgba(27, 74, 120);
    transform: translateY(-2px);
}

/* Carrossel */
.carousel-inner {
    padding: 30px;
}

.carousel-inner .card {
    height: 280px;
    width: 380px;
    margin: 0 10px;
    background-color: rgb(198, 211, 211);
    border: 2px solid transparent;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza o conteúdo verticalmente */
    padding: 15px;
    transition: transform 0.2s, border-color 0.2s;
    align-items: center; /* Centraliza o conteúdo horizontalmente */
}

.card:hover {
    transform: translateY(-5px);
    border-color: #6795c7;
}

.carousel-control-prev,
.carousel-control-next {
    top: 0;
    transform: translateY(-50%);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(27, 74, 120);
}

.card .btn {
    background-color: rgba(27, 74, 120);
    color: white;
    font-size: 0.8rem;
    padding: 0.4rem 0.4rem; /* Ajuste no padding para o botão não ficar muito pequeno */
    border: 2px solid rgba(27, 74, 120);
    border-radius: 20px;
    transition: background-color 0.3s, transform 0.2s;
    width: auto; /* Faz o botão ajustar sua largura automaticamente */
    max-width: 150px; /* Limita a largura máxima */
    min-width: 100px; /* Limita a largura mínima */
    display: block; /* O display block faz o botão ocupar a largura disponível */
    margin: 0 auto; /* Centraliza o botão horizontalmente */
    margin-top: auto; /* Garante que o botão fique no final do card */
}

.card .btn:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}


/* Novos cards */
.new-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}

.new-card {
    height: 250px;
    width: 200px;
    margin: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
}

.new-card h3 {
    font-size: 1.2rem;
    margin-bottom: 60px;
}

.new-card p {
    font-size: 1.4rem;
    color: #000000;
    font-weight: 600;
}

.new-cards-title {
    margin-left: 0px;
    font-size: 2rem;
    font-weight: 800;
    color: #333;
}

#parceiros-cadastrados-card {
    background-color: rgb(188, 189, 231);
    color: #000000;
    border: 2px solid #000000;
    padding: 20px;
    border-radius: 8px;
}

#residuos-disponiveis-card {
    background-color: #e8f5e9;
    color: #000000;
    border: 2px solid #43a047;
    padding: 20px;
    border-radius: 8px;
}

#residuos-negociacao-card {
    background-color: #fffde7;
    color: #000000;
    border: 2px solid #fdd835;
    padding: 20px;
    border-radius: 8px;
}

#residuos-concluidos-card {
    background-color: #e1bee7;
    color: #000000;
    border: 2px solid #8e24aa;
    padding: 20px;
    border-radius: 8px;
}

#residuos-cancelados-card {
    background-color: #ffebee;
    color: #000000;
    border: 2px solid #e53935;
    padding: 20px;
    border-radius: 8px;
}

.new-card:hover {
    transform: scale(1.05);
    transition: transform 0.8s ease;
}
