<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home_styles.css"> <!-- Link para o CSS -->
    <title>Resíduos de Empresas Diversas</title>
</head>
<body>
    <header>
        <h1>Resíduos de Empresas Diversas</h1>
    </header>
    <main id="residuosContainer">
        <!-- Os cards de resíduos serão inseridos aqui -->
    </main>
    <script src="home_scripts.js"></script> <!-- Link para o JS -->
</body>
</html>
