/* POPPINS FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    overflow-x: hidden; /* Impede rolagem horizontal que afete a sidebar */
}

/* Cabeçalho */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(198, 211, 211);
    font-size: 1.2rem;
    padding: 10px;
    z-index: 3; 
}

.nav-link {
    font-weight: 550;
    margin-right: 150px; /* Ajustado para melhor espaçamento */
    color: rgba(27,74,120)
}

.nav-link:hover {
    color: #000000;
}

/* Botão de pesquisa fixo */
.search-container {
    position: fixed; /* Mantém posição fixa */
    top: 60px; /* Alinha abaixo do cabeçalho */
    left: 50%; /* Centraliza horizontalmente */
    transform: translateX(-50%); /* Compensa a largura do elemento */
    z-index: 2; /* Ajustado para ser menor que o cabeçalho */
    margin: 20px 0; /* Distância vertical do cabeçalho */
    display: flex; /* Ativa flexbox */
    align-items: center; /* Alinha itens verticalmente no centro */
    width: 100%; /* Faz a largura ocupar 100% */
}

/* Barra de pesquisa */
.search-input {
    width: 300px; /* Defina uma largura fixa para a barra de pesquisa */
    padding: 10px;
    border: 1px solid rgba(27, 74, 120);
    border-radius: 20px;
    font-size: 1rem;
    color: #ffffff;
    background-color: rgba(27, 74, 120);
    transition: border 0.2s;
}

.search-input:focus {
    outline: none;
    border: 1px solid rgba(27, 74, 120);
    background-color: rgba(27, 74, 120);
    color: #ffffff;
    box-shadow: 0 0 8px rgba(27, 74, 120, 0.5);
}

/* Texto do placeholder */
.search-input::placeholder {
    color: #ffffff; /* Cor do texto do placeholder */
}


/* Botão de pesquisa */
.btn {
    margin-left: 10px; /* Espaço entre a barra de pesquisa e o botão */
    background-color: rgba(27, 74, 120);
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    border: 2px solid rgba(27, 74, 120);
    border-radius: 20px;
    transition: transform 0.2s, background-color 0.3s ease;
    cursor: pointer;
}

.btn .fas {
    color: white;
    font-size: 20px;
}

.btn:hover {
    background-color: #0056b3;
    color: white;
    transform: scale(1.05);
    background: linear-gradient(135deg, rgba(27, 74, 120, 1), rgba(0, 128, 128, 0.8));
}

/* Botões */
.btn-conectar {
    background-color: rgba(111, 156, 138); /* Cor de fundo mais forte para o botão */
    border: 2px solid rgba(111, 156, 138); /* Cor de borda do botão */
    color: white;
    font-size: 0.9rem; /* Tamanho de fonte um pouco maior para os botões */
    padding: 0.5rem 1rem; /* Mais espaçamento dentro do botão */
    border-radius: 25px; /* Bordas arredondadas */
    transition: background-color 0.3s, transform 0.2s;
}

.btn-conectar:hover {
    background-color: rgb(40, 190, 130); /* Cor mais escura para hover */
    transform: translateY(-2px);
}

/* Estilo dos cards */
#residuosContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-width: calc(100% - 270px); /* Ajusta a largura do container, descontando a largura da sidebar */
    margin-left: 270px; /* Garante que o container dos cards fique ao lado da sidebar */
    padding-top: 20px; /* Espaçamento ajustado para separar melhor os cards */
}

.card {
    background-color: rgba(198,211,211); /* Cor mais suave para o fundo dos cards */
    border: 2px solid #ddd; /* Borda suave para os cards */
    border-radius: 12px; /* Bordas arredondadas para suavizar */
    padding: 20px; /* Maior espaçamento interno */
    margin: 20px; /* Distância entre os cards */
    width: 355px; /* Largura dos cards */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Sombra mais suave para destaque */
    transition: transform 0.3s, border-color 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-5px); /* Eleva o card ao passar o mouse */
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2); /* Sombra mais forte no hover */
}

.card h2 {
    font-size: 1.2em; /* Tamanho de fonte maior para os títulos */
    color: #1B4A78; /* Cor do título combinando com os botões */
    margin-bottom: 10px; /* Espaçamento abaixo do título */
    font-weight: bold; /* Deixa o título mais destacado */
}

.card p {
    margin: 10px 0;
    color: #333; /* Cor mais escura para o texto */
    font-size: 1.1rem; /* Tamanho de fonte um pouco maior para melhor legibilidade */
    line-height: 1.5; /* Aumenta o espaçamento entre as linhas */
}

/* Card Footer */
.card-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    background-color: rgba(198,211,211); /* Cor de fundo mais suave para o rodapé */
    padding: 10px;
    border-radius: 0 0 12px 12px; /* Arredondamento nas bordas inferiores */
}

.card-footer a {
    color: #1B4A78;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s;
}

.card-footer a:hover {
    color: #6795c7; /* Cor de hover mais suave */
}


/* Sidebar */
.sidebar {
    position: fixed;
    top: 60px; /* Define a posição logo abaixo do cabeçalho */
    left: 0;
    width: 250px;
    height: calc(100vh - 60px); /* Altura total abaixo do cabeçalho */
    padding: 20px;
    background-color: #f8f9fa;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto; /* Permite rolagem interna, caso o conteúdo ultrapasse a altura */
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

/* Espaçamento entre as linhas na barra lateral */
.sidebar p {
    line-height: 1.5; /* Aumenta o espaçamento entre as linhas */
    margin-bottom: 1px; /* Adiciona espaço entre os elementos */
    margin: 1px 0; /* Reduzir a margem superior e inferior */

}


#logoutButton {
    background-color: rgba(111, 156, 138); /* Cor de fundo mais suave para harmonia */
    color: white; /* Cor do texto */
    padding: 12px 24px; /* Espaçamento maior para dar mais destaque */
    margin-top: auto;
    font-size: 1rem; /* Tamanho da fonte em harmonia com o resto da página */
    border: 2px solid rgba(111, 156, 138); /* Cor de borda suave */
    border-radius: 25px; /* Bordas mais arredondadas para suavizar */
    font-weight: 600; /* Peso da fonte para dar mais destaque */
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s; /* Animação suave */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave para dar profundidade */
}

#logoutButton:hover {
    background-color: #40c7a7; /* Cor mais vibrante ao passar o mouse */
    border-color: #40c7a7; /* Cor da borda ao passar o mouse */
    transform: translateY(-2px); /* Efeito de leve elevação ao passar o mouse */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Sombra mais forte no hover */
}



/* Conteúdo principal */
.main-content {
    margin-left: 270px; /* Espaço para a sidebar fixa */
    padding: 20px;
    padding-top: 150px; /* Ajuste conforme necessário para dar espaço ao cabeçalho e ao botão de pesquisa */
    position: relative;
}

/* Consultas de mídia para responsividade */
@media (max-width: 768px) {
    .card {
        width: 90%; /* Largura dos cards em telas menores */
        margin: 20px auto; /* Centraliza e ajusta a margem */
    }

    #residuosContainer {
        justify-content: center; /* Centraliza os cards no container */
        margin-left: 0; /* Remove a margem esquerda na tela menor */
        max-width: 100%; /* Ajusta a largura máxima */
    }

    .sidebar {
        width: 100%; /* A sidebar ocupa a largura total em telas pequenas */
        position: relative; /* Altera para posicionamento relativo */
        height: auto; /* Ajusta a altura */
    }

    .main-content {
        margin-left: 0; /* Remove a margem esquerda em telas pequenas */
        padding-top: 10px; /* Ajusta o padding superior */
    }

    .search-container {
        left: 50%; /* Centraliza novamente na tela menor */
        transform: translateX(-50%); /* Compensa a largura do elemento */
        width: 90%; /* Largura ajustada para ocupar 90% do viewport */
    }
}

@media (max-width: 480px) {
    .nav-link {
        margin-right: 20px; /* Ajusta o espaçamento dos links de navegação */
        font-size: 0.9rem; /* Reduz o tamanho da fonte para dispositivos pequenos */
    }

    .navbar {
        font-size: 0.9rem; /* Ajusta o tamanho da fonte do cabeçalho */
    }
}